// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
.items_vertical_ordenado{
  display: flex;
  flex-direction: column; /* Acomoda los elementos en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Altura de la ventana */
}
.background {
  --background: rgb(223, 223, 223); /* Cambia el color de fondo en Ionic */
}
.body{
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}