// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
.items_vertical_ordenado{
  display: flex;
  flex-direction: column; /* Acomoda los elementos en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Altura de la ventana */
}
.background {
  --background: rgb(223, 223, 223); /* Cambia el color de fondo en Ionic */
  background-image: url('/assets/pokemart.jpg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el área del contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100%; /* Asegura que el contenido cubra el área completa del contenedor */
}
.body{
  background-image: url('/assets/pokemart.jpg'); /* Reemplaza con la ruta de tu imagen */
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}