<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido a Duoc asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <div class="body">
    <div style="margin-bottom: 5%;">
      <ion-item>
        <ion-input [(ngModel)]="lnombre" label="Nombre" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="lcontrasenna" label="Contraseña" type="password" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </ion-item> 
   </div>
  </div>
    <ion-button (click)=" navhome()" color="medium" expand="block">login</ion-button>
  <div class="items_vertical_ordenado">
    <ion-button (click)="navsenna()"color="dark">Olvide mi contraseña</ion-button>
    <ion-button (click)="navregister()" color="medium" >Registrarme</ion-button>
  </div>
</ion-content>
