
ion-content {
  background-image: url('/assets/bunzi.gif'); /* Reemplaza con la ruta de tu imagen */
}

ion-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.dvd-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; /* Ajusta el tamaño del logo */
  transition: transform 0.1s linear; /* Suaviza el movimiento */
}

img {
  width: auto;
  height: auto;
}

.image-container {
  background-image: url('/assets/bunzi.gif');
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
}

img.rotate {
  width: 150px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #d40000;

  margin: 0;
}

#container a {
  text-decoration: none;
}