<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <audio #backgroundMusic src="assets/pokemart.mp3" loop></audio>
  <ion-button (click)="playBackgroundMusic()">Reproducir Música</ion-button>
  <ion-button (click)="pauseBackgroundMusic()">Pausar Música</ion-button>
  <ion-button (click)="stopBackgroundMusic()">Detener Música</ion-button> 
  <div>Tu nombre es {{rnombre}}
  </div>
  <div class="image-container">
    <img src="assets/images.jpg" alt="Rotating Image" class="rotate">
  </div>
  <div id="dvd-logo" class="dvd-logo">
    <img src="assets/images.jpg" alt="DVD Logo" />
  </div>
  <div class="image-container">
    <ion-button (click)="generateQr()">Generar Código QR</ion-button>
    <img *ngIf="qrCodeUrl" [src]="qrCodeUrl" alt="QR Code" />
  </div>
</ion-content>
