<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <div class="body">
    <div style="margin-bottom: 5%;">
    <ion-item>
      <ion-input [(ngModel)]="rnombre" label="Nombre" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="contrasenna" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-input label="confirmar contrasenna" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-input label="palabra de recuperacion" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
   </div>
  </div>
    <ion-button (click)="navhome()" color="medium" expand="block">Registrarme</ion-button>
  <div class="items_vertical_ordenado">
    <ion-button (click)="navlog()" color="medium" >login</ion-button>
  </div>
</ion-content>
